import React from 'react';
import styles from './index.modules.scss'

export interface ${componentName}Props {
}

export const ${componentName}: React.FC<${componentName}Props> = (props) => {
  return <div></div>;
}