import React from 'react';
import Taro from '@tarojs/taro'
import { View } from '@tarojs/components'
import styles from './index.modules.scss'

export interface ${componentName}Props {
}

export const ${componentName}: React.FC<${componentName}Props> = (props) => {
  return <View></View>;
}